# Enable Rewrite Engine
RewriteEngine On

# Prevent Directory Listing
Options -Indexes

# Block access to sensitive directories
RewriteRule ^(\.git|node_modules|src|\.vscode) - [F,L]

# Block access to sensitive files
RewriteRule ^(\.env|\.gitignore|package\.json|package-lock\.json|tsconfig\.json|vite\.config\.ts|README\.md) - [F,L]

# Allow access to api
RewriteRule ^api/ - [L]

# For all other requests, if the file or directory does not exist, redirect to index.html
# This enables React Router (SPA) to handle the routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
