<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /public_html/app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /public_html/app/index.html [L]
</IfModule>
