@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-gray: #f2f2f2;
  --accent-blue: #1e40af;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--soft-gray);
  color: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #1A1A2E;
  /* midnight-950 (Deep Navy) */
  color: #F9F9F9;
  /* midnight-text-primary (Crisp White) */
}